body{font-family:Arial;background:#f4f6f9;margin:0}
header{text-align:center;background:#0b5ed7;color:#fff;padding:15px}
.container{padding:15px}
label{font-weight:bold;margin-top:10px;display:block}
input,select,textarea,button{width:100%;padding:10px;margin-top:5px}
button{background:#198754;color:#fff;border:none}
video,canvas,img{width:100%;margin-top:10px}
footer{text-align:center;font-size:12px;color:#666;margin:15px}
canvas#ttd{border:1px solid #000;touch-action:none}
